*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}
/* HTML Elements */
html, body {
  background-color: hsl(217, 54%, 11%);
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 400px;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  color: #8bacda;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
  /* transition: all 0.3s ease-in-out; */
}

a:hover {
  color: rgba(0, 255, 247);
}

img {
  max-width: 100%;
}

hr {
  color: hsl(215, 51%, 70%);
}

.main-card {
  display: flex;
  min-width: 100%;
  min-height: calc(100vh - 50px);
  padding: 24px;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  max-width: 100%;
  padding: 24px;
  border-radius: 20px;
  background-color: #14253d;
}

.card-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  caret-color: transparent;
}

.img-holder {
  font-size: 0;
  line-height: 0;
}

.img-overlap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 247, 0.5);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.card-img:hover .img-overlap  {
  opacity: 1;
}

.card-info {
  padding: 16px 0;
}

.card-info-title {
  font-size: 20px;
  font-weight: 600;
}

.card-info p {
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-details img {
  margin: 0 6px 0 0;
}

.card-details .product-price{
  display: flex;
  align-items: center;
  color: #00fff7;
  font-weight: 600;
}

.product-duration {
  display: flex;
  align-items: center;
}

.card-author {
  display: flex;
  align-items: center;
  padding: 16px 0 4px;
}
.author-avatar {
  margin: 0 14px 0 0;
  width: 32px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 0;
}
.author-name {
  font-size: 16px;
}
